LANG={{ osul_system_locales }}
LC_MESSAGES={{ osul_system_locales }}
LC_RESPONSE={{ osul_system_locales }}
LC_ADDRESS={{ osul_user_locales }}
LC_MONETARY={{ osul_user_locales }}
LC_MEASUREMENT={{ osul_user_locales }}
LC_NUMERIC={{ osul_user_locales }}
LC_TELEPHONE={{ osul_user_locales }}
LC_TIME={{ osul_user_locales }}
